{
    "jsc": {
      "baseUrl": ".",
      "keepClassNames": true,
      "loose": true,
      "target": "es2015",
      "parser": {
        "syntax": "typescript",
        "tsx": true,
        "decorators": true,
        "dynamicImport": true,
        "lib": ["es2017", "dom"],
        "jsx": "react"
      },
      "transform": {
        "react": {
          "runtime": "automatic"
        },
        "hidden": {
          "jest": true
        }
      }
    },
    "module": {
      "type": "es6",
      "strict": false,
      "strictMode": false,
      "lazy": false,
      "noInterop": false
    }
}